    <!-- Form Row -->
    <div class="row">
      <div class="col-md-6">
        <div class="button-box">
          <h2>Generate Data</h2>
          <form id="generateForm">
            <fieldset>
              <label for="selectOption">Select Scenario:</label>
              <select id="selectOption">
                <option value="1">Scenario 1: creating jobseeker and site data instance</option>
                <option value="2">Scenario 2: when you need student data</option>
                <option value="3">Scenario 3: testing teacher student course enrollments</option>
                <!-- Add more options as needed -->
              </select>
            </fieldset>
            <button id="generateButton" type="button">Generate</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Graph Row -->
    <div class="row">
      <div class="col-md-12">
        <div id="d3-graph" class="graph-box">
          <!-- Your SVG content goes here -->
        </div>
      </div>
    </div>
